.titulo {
  margin: 1rem;
  color: brown;
  text-align: center;
}
.subtitulo {
  margin: 1rem;
}
.logo{
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.router{
  text-align: center;
}

.router-title {
  border-bottom: 2px solid #c0c0c0;
  display: inline;
}

.header-sub-title {
  text-align: center;
}

.sub-title{
  border-bottom: 2px solid #c0c0c0;
  display: inline;
}