  <div class="container">
    <div class="router">
      <table>
        <tr>
          <th style="width: 200px;">
            <h4 class="router-title" [routerLink]="['personajes']">Sección de personajes</h4>
          </th>
          <th style="width: 200px;">
            <h4 class="router-title" [routerLink]="['estudiantes']">Sección de estudiantes</h4>
          </th>
          <th style="width: 200px;">
            <h4 class="router-title" [routerLink]="['profesores']">Sección de profesores</h4>
          </th>
        </tr>
      </table>
    </div>
    <br>
    <br>
    <div>
      <img src="./assets/escudoHogwarts.png" class="logo">
      <div class="titulo">
        <h1><strong>Escuela de hechicería y brujería Hogwarts</strong></h1>
      </div>
    </div>
    <hr>
  </div>
<router-outlet></router-outlet>